  body {
   max-width: 980px;
    margin-left: 170px;
  }

  .container {
    max-width: 980px;
  }


  .bg-1 { 
      background-color: lightblue;
      color: black;
  }

  .bg-3 { 
      background-color: darkgray;
      color: black;
  }

  .bg-4 {
    background-color: lightblue;
  }
  .bg-5 { 
      background-color: #2f2f2f;
      color: #fff;
  }
  .container-fluid {
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      margin-bottom: 0;
      border-radius: 0;
      font-size: 16px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c;
  }